.visiting {
  padding: 80px 40px;
  background-color: #fff;
}

.visiting-content {
  max-width: 1440px;
  margin: auto;
}

.visiting h2 {
  font-family: "Forum", serif;
  font-size: 80px;
  letter-spacing: 5px;
  text-align: left; /*-----*/
  color: #9d8665;
  margin-bottom: 25px; /*-----*/
}

.title-underline {
  width: 100%;
  height: 2px;
  background-color: #710707;
  margin-bottom: 60px;
}

.visiting-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 75px 60px; /*----*/
  justify-items: center;
}

.visiting-card {
  text-align: left;
  /* max-width: 252px; */
  height: 442px;

  display: flex;
  align-items: flex-start;
}

.visiting-link {
  text-decoration: none;
}

.visiting-card img {
  width: 440px; /*---*/
  height: 285px; /*---*/
  display: block;
  margin: 0 auto 20px;
}

.visiting-card h3 {
  font-family: "Forum", serif;
  font-size: 28px;
  letter-spacing: 5px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 10px;
}

.visiting-underline {
  width: 300px; /*------*/
  height: 2px;
  background-color: #710707;
  margin: 10px 0; /*------*/
}

.visiting-card .tour {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: #000;
  margin-bottom: 8px;
}

.visiting-card .source {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}