.tickets {
  background-color: #fff;
  padding: 100px 20px;
  color: #000;
}

.tickets-container {
  max-width: 1440px;
  margin: 0 auto;
}

.tickets h2 {
  font-size: 60px;
  font-family: 'Forum', serif;
  color: #7A614C;
  margin-bottom: 40px;
  border-bottom: 2px solid #7A614C;
  padding-bottom: 10px;
}

.tickets-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  display: flex;
}

.tickets-image img {
  width: 720px;
  height: 550px;
  margin-top: 75px;
  margin-bottom: 75px;

}

.tickets-form {
  flex: 1;
}

.tickets-form h3 {
  font-size: 28px;
  margin-bottom: 20px;
  margin-bottom: 50px;
}

.tickets-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.amount-block {
  margin-top: 30px;
  margin-left: auto;

}

.amount-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.counter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
}

.total {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-button {
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.radio{
  width: 270px;
  height: 211px;
  margin-top: 193;
  margin-left: 60px;
  margin-bottom: 339px;
}
.form-columns {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.radio, .amount-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.radio {
  max-width: 270px;
}

.amount-block {
  max-width: 270px;
  align-items: flex-end; /* Выравниваем всё справа */
}
